
build-CLERC_COZZOLINO_TP4-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/.qmake.stash
build-CLERC_COZZOLINO_TP4-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/CLERC_COZZOLINO_TP4.exe
build-CLERC_COZZOLINO_TP4-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/glarea.o
build-CLERC_COZZOLINO_TP4-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/main.o
build-CLERC_COZZOLINO_TP4-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_glarea.cpp
build-CLERC_COZZOLINO_TP4-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_glarea.o
build-CLERC_COZZOLINO_TP4-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_predefs.h
build-CLERC_COZZOLINO_TP4-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_princ.cpp
build-CLERC_COZZOLINO_TP4-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_princ.o
build-CLERC_COZZOLINO_TP4-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/princ.o
build-CLERC_COZZOLINO_TP4-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/qrc_CLERC_COZZOLINO_TP4.cpp
build-CLERC_COZZOLINO_TP4-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/qrc_CLERC_COZZOLINO_TP4.o
build-CLERC_COZZOLINO_TP4-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile
build-CLERC_COZZOLINO_TP4-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Debug
build-CLERC_COZZOLINO_TP4-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Release
build-CLERC_COZZOLINO_TP4-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_princ.h
src/CLERC_COZZOLINO_TP4.pro.user
